{ CFBundleDisplayName = "AR Dare Lab"; CFBundleIdentifier = "$(PRODUCT_BUNDLE_IDENTIFIER)"; CFBundleName = ARDareLab; CFBundlePackageType = APPL; "CFBundleInfoDictionary\U0056\U0065\U0072\U0073\U0069\U006F\U006E" = "6.0"; "CFBundleShort\U0056\U0065\U0072\U0073\U0069\U006F\U006EString" = "1.0"; "CFBundle\U0056\U0065\U0072\U0073\U0069\U006F\U006E" = "1"; NSCameraUsageDescription = "Camera is used for local AR rounds."; NSMicrophoneUsageDescription = "Mic can be part of a local clip."; }
